<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1>{{ pregunta.texto_pregunta }}</h1>
    {% if mensaje_error %} <p><strong>{{ mensaje_error }}</strong></p>{% endif %}
    <form action="{% url 'polls:votar' pregunta.id %}" method="POST">
        {% csrf_token %}
        
        {% for opcion in pregunta.opcion_set.all %}
            <input type="radio" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}" >
            <label for="opcion{{ forloop.counter }}">{{ opcion.texto_opcion }}</label>
            <br>
        {% endfor %}
        <button type="submit">Votar</button>            
    </form>
    
</body>
</html>