<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>

    {% if ultimas_preguntas %}
        <ul>
        {% for pregunta in ultimas_preguntas %}
            <li><a href="{% url 'polls:detalle' pregunta.id %}">{{ pregunta.texto_pregunta }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay encuestas disponibles.</p>
    {% endif %}

</body>
</html>