<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h1>{{ pregunta.texto_pregunta }}</h1>

    <ul>
        {% for opcion in pregunta.opcion_set.all %}
            <li>{{ opcion.texto_opcion }} -- {{ opcion.votos }} voto{{ opcion.votos|pluralize }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'polls:detalle' pregunta.id %}">¿Volver a votar?</a>
    
</body>
</html>
